---
layout: default
title: Home
---
<div class="page">
  
  <header>
    <h1 class="landing-title">Hello, world!</h1>
  </header>
  
  <div class="text-justify">
    <p>
      hej hej hej 
    </p>

    <p>
    <img src="/images/stackedBarplot.png" alt="My stacked barplot">    
    </p>

    <p>
      My map: vs   
    </p>
    

    {% include map.html %}

    Here is a very fun plot!

    {% include p.html %}

    <p>
      This is your landing page. It is the first page your users will see when 
      they visit your website. Perhaps write a little bit about you or your 
      website here.
    </p>

    <p>
      Feel free to dive right in and make your changes to the code!<br />
      Or check out Celeste on <a href="https://github.com/nicoelayda/celeste">GitHub</a> 
      to learn more.
    </p>
  </div>
  
</div>
