---
layout: default
title: Home
---
<div class="page">
  
  <header>
    <h1 class="landing-title">Enjoy the Sune-plots brought to you by the shrimps!</h1>
  </header>
  
  <div class="text-justify">

    <p> 
      This text is written by CHAT GPT
    </p>

    <p>
      The San Francisco Police Department Incident Reports dataset offers a comprehensive overview of reported incidents within San Francisco, California, spanning from 2003 to the present day. 
      Featuring a wide array of incident types such as burglaries, larceny/theft, robberies, stolen property, and vehicle thefts, 
      this dataset serves as a valuable resource for understanding the city's public safety landscape. With its extensive temporal coverage, 
      users can conduct longitudinal analyses to discern crime trends and fluctuations over the years. Additionally, the dataset 
      enables geospatial mapping to identify crime hotspots and spatial variations in incident density, facilitating evidence-based 
      policymaking and resource allocation strategies. Accessible to the public via the San Francisco Open Data portal, this dataset 
      fosters transparency and accountability in law enforcement efforts, although users should exercise caution and verify findings due to potential 
      data integrity considerations. Overall, the San Francisco Police Department Incident Reports dataset plays a crucial role in informing public 
      safety initiatives and contributing to the collective endeavor of building safer communities. 
    </p>
    <h3> The first plot should be time-series / bar chart  </h3>
    <img src="/images/stackedBarplot.png" alt="My stacked barplot"
     width="900" 
     height=auto />

    <h3> The second plot should be a map </h3>
    <p> 
      The figure below shows a nice map
    </p> 

    {% include map.html %}

    <h3> And finally the thrid one is an interactive visualization! </h3>
    <p> 
      We introduce this code:
    </p>
    {% highlight js linenos %}
    // Example can be run directly in your JavaScript console

    // Create a function that takes two arguments and returns the sum of those arguments
    var adder = new Function("a", "b", "return a + b");

    // Call the function
    adder(2, 6);
    // > 8
    {% endhighlight %}
    <p>
      The plot looks like this
    </p>
      {% include p.html %}
  </div> 
</div>
