<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Crime-desity by district</h2>
        <hr class="star-light">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
      <p class="text-justify">
        It can be challenging to detect trends in an area and determine whether they are correlated. 
        Some areas may be more at risk of theft than others. This information could be useful for 
        distributing police cars effectively. 
      </p>
      <p class="text-justify">
        When analyzing districts, one must consider normalizing 
        the data to get a clearer picture of the situation. It is not necessarily true that the largest 
        district receives the most reports of theft, so we must consider external factors such as 
        population size or area. The latter can be easily applied.
      </p>
      {% include sf_theft_map_transparent.html %}
      <p class="text-justify">
        The figure shows that Tenderloin has the highest density of crimes related to theft. This could mean 
        that there is a trend of theft in that specific district, due to the significant difference 
        between Tenderloin and the other districts' scores. The reasoning for this showing could be due to 
        vulnerable communities or ghettos within the district. This analysis could therefore be a 
        useful tool for police officers to prioritize patrols, allocate resources, and implement 
        targeted crime prevention strategies in areas with higher theft densities, ultimately 
        enhancing community safety and security.
      </p>
      </div>
    </div>
  </div>
</section>
