<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile_theft.png" alt="theft-pic" />
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span>
        </div>
        <h3>Introduction</h3>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <p> 
              We are about to dive into a dataset of criminal activity in San Francisco, published by the San Francisco Police Department (SFPD). The dataset is limited to activities between 2003 and the first part of 2018. The activities are still being recorded, but the datasets from 2018 and onward are of a different format, hence we stick to the “older” data on purpose.
              To avoid any confusions, we omit data from 2018, as data collection of this year is not complete. 
            </p>
            <p>
              Each entry of the dataset is a “criminal activity”, which is probably defined by an arrest. Some parameters of a criminal activity are crime-type, date, time-of-date, location, as well as many others. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
