<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Barplot title</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>This is some cool text.</p>

        <p>This is some cool text.</p>

        <p>The Disqus comments will go. Wow, that was easy! This is a long text to see how it will look like. This looks good!</p>
        
        <img src="plots/stackedBarplot.png" class="img-responsive" alt="roundicons">
        <p class="text-justify"> 
          Text after plot here.Text after plot here.Text after plot here.Text after plot here.Text after plot here.Text after plot here.Text after plot here.
        </p>
      </div>
    </div>
  </div>
</section>
