<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Barplot title</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <p>The first plot shows the overall distribution of each type of stealing-related crime. Amongst these, 
          ‘ Larceny/Theft ’ is most common. Crime types like ‘ Stolen property ’ is less common, and it is 
          therefore hard to visually assess the development over time. The remaining plots show the normalized 
          distribution of each crime type. These make it easier to understand the changes from year to year.   
        </p>

        <img src="plots/stackedBarplot.png" class="img-responsive" alt="roundicons">

        <p class="text-justify"> 
          We can immediate spot some interesting trends: 
        </p>
        <p class="text-justify"> 
          Larceny/theft is rather stable until 2012 where it increases somewhat linearly. This could suggest 
          that there has been a change in legislation that introduces some slightly increasing incentive to 
          commit more larceny. It could also be the result an increase in the type of population that commit these crimes. 
          One of the biggest events in 2012 would be the election of Barack Obama as president of the United States. 
          It is not unreasonable that some of his policies might have had a butterfly effect that could impact the 
          larceny statistics. But this pattern is only correlated, and not necessarily causality.
        </p>

        <p class="text-justify"> 
          Burglary and robbery both seem to follow the same pattern. This suggests that the crimes are very correlated. 
          They could be commited by the same people, or they could both even be the effect of some events. 
          They both share the feature, that they are both very fast ways to get money, even if robbery is usually
           punished more severely. We can imagine that at times of more poverty, people tend to commit crimes 
           spontaneously in order to be able to pay the bills. 
        </p>

        <p class="text-justify"> 
          The number of vehicle thefts also change very suddenly between 2005 and 2006. This is either the result 
          of good law enforcement and law regulations, or it could be a change in administration. Maybe, some 
          crimes formerly known as “vehicle theft” are being categorized into something new. We can see an 
          increase in robbery the following years. This could suggest that vehicle theft that are also considered robbery 
          (a.k.a. “Carjacking”) would now be considered a robbery.
        </p>
        <p class="text-justify">
          When it comes to the “Stolen property” category, there seems to be a cyclical pattern, but also very few occurrences. 
          This crime category is also not specifies that well, as stealing of any sorts could be considered stealing property. 
        </p>
      </div>
    </div>
  </div>
</section>
