/**
  * _utils.scss
  * Utility classes for applying common styles to elements.
  */

  .text-center {
    text-align: center;
  }
  
  .text-justify {
    text-align: justify;
  }

  .included-content {
    transform: scale(0.5); /* Adjust the scaling factor as needed */
}